body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.background-image {
    position: relative; /* 设定相对定位基准 */
    background-image: url('A_simple_and_elegant_Japanese-style_painting_featu.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1 {
    position: absolute; /* 绝对定位 */
    top: 0; /* 顶部对齐 */
    left: 50%; /* 左侧偏移50% */
    transform: translateX(-50%); /* 向左平移50%，确保中心对齐 */
    font-size: 4em;
    margin: 10px 0; /* 调整上下边距 */
}

.intro-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    font-size: 1.5em; /* 增大字体大小 */
}

button {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

button:hover {
    background-color: #0056b3;
}
