body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.background-image {
    background-image: url('A_simple_and_elegant_Japanese-style_painting_featu.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        top: 20%;
    }
    to {
        opacity: 1;
        top: 10%;
    }
}

@keyframes fadebot {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.company-logo {
    position: absolute;
    top: 10%;  
    left: 10%;  
    width: 80%;  
    height: auto;  
    animation: fadeIn 3s ease-out forwards; /* 应用动画，持续时间3秒 */
}

.button-left {
    position: absolute;
    left: 5%;
    bottom: 2%;
    animation: fadebot 3s ease-out forwards;
}

/* 右下角按钮样式 */
.button-right {
    position: absolute;
    right: 5%;
    bottom: 2%;
    animation: fadebot 3s ease-out forwards;
}
/*.Back-button {
    position: absolute;
    right: 5%;
    bottom: 2%;
    animation: fadebot 3s ease-out forwards;
}*/
.Back-button_long {
    display: block;
    position: relative;
    float: right;
    margin: 20px;
    animation: fadebot 3s ease-out forwards;
}
.Back-button {
    position: absolute;
    right: 5%;
    bottom: 2%;
    animation: fadebot 3s ease-out forwards;
}
.contact-us {
    background-color: #fefbec;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fefbec;
    color: #333;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    line-height: 1.6;
}

.content {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: left; /* テキストも中央寄せに */
}


h1, h2 {
    color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #0056b3;
}




.for-companies {
    background-color: #fefbec;
    color: #333;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    line-height: 1.6;
}

.for-companies h1, .for-companies h2 {
    color: #0056b3;
}

.for-companies ul {
    list-style-type: disc;
    margin-left: 20px;
}

.for-companies p, .for-companies li {
    margin-bottom: 10px;
}


.language-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
}

.language-switcher a {
    color: #0056b3;
    text-decoration: none;
    padding: 0 10px;
}

.language-switcher a:hover {
    text-decoration: underline;
}
